@model List<Trip>

<div class="container">
  
<div class="container">
 
  <div class="row mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4 flex-row-reverse">
   <a asp-controller="Home" asp-action="AllTrips" class="btn gradient-btn d-flex align-items-center gap-2">
    <i class="bi bi-arrow-up-left-circle-fill fs-5"></i>
     عرض المزيد
  </a>
   <h2 class="section-title">اكتشف الرحلات السياحية</h2>

</div>
 

    @foreach (var item in Model)
    {
        <div class="col-md-4 pb-1 pb-md-0">
            
            <div class="card custom-card">
                <img class="card-img-top" src="/Images/@item.Image" alt="Card image cap">
                <div class="card-body">
   
  <ul class="list-inline text-end p-1 mb-0" dir="rtl">
    <li class="list-inline-item custom-list-item"><span>@item.Location</span></li>
    <li class="list-inline-item custom-list-item me-2"><span>@item.TripType?.Name</span></li>
  </ul>


             <p class="card-title">@item.Name</p>
             <p class="card-text truncate-2-lines">@item.Description</p>
       <form method="post" asp-controller="Home" asp-action="Booking">
    <input type="hidden" name="id" value="@item.Id" />
    <div class="text-center mt-2">
        <button type="submit" class="login-button">احجز الان</button>
    </div>
</form>

         </div>
            
            </div>
        </div>
        
    }
  </div>

   
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="newsletter-box">
          <div class="newsletter-image">
              <img src="/Images/mail.png">
          </div>
          <div class="newsletter-content">
              <h2>اشترك في النشرة البريدية</h2>
              <div class="form-group">
                  <input type="text" placeholder="الاسم الأول">
                  <input type="text" placeholder="الاسم الأخير">
              </div>
              <div class="form-group">
                  <input type="email" placeholder="name@email.com">
              </div>
             
                  <form method="post">
    <input type="hidden" name="id"/>
    <div class="text-center mt-2">
        <button type="submit" class="login-button">اشترك معنا</button>
    </div>
</form>

              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

